
.footer {
    display: flex;
    flex-direction: column;
    background-color: #479dff;
    align-items: center;
    gap: 0.5rem;

    min-height: 100px;  /* 最小高さを保証 */
    width: 100%;       /* 親（.container）の幅いっぱいに広げる */
    margin-top: auto;  /* これがフッターを画面最下部に押し出します */
}

.footerLinks {
    margin-bottom: 0.5rem;
}

.footerLink {
    color: #f8fbff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: text-decoration 0.3s;
}

.footerLink:hover {
    text-decoration: underline;
}

.separator {
    color: #ffffff;
    margin: 0 0.5rem;
}

.copyright {
    margin-top: 0;
    color: #ffffff;
}