

.hero
{ 
    min-height: 60vh;
    width: 100%;

    padding: 10rem 5%; 
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section
{
    /* img要素に適用された画像を参照し、背景として使用 */
    background-image: url('/Hero/HeroBackground.jpg');
    /* サイズ定義など */
    min-height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-preload-img {
    /* img要素を完全に非表示にする（コンテンツ幅にも影響を与えない） */
    display: none; 
}

.heroTitle {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.heroSubtitle {
    font-size: 1.35rem;
    color: #fafafa;
    margin-bottom: 2.5rem;
}

.ctaButton {
    background-color: #1882ed; /* 鮮やかブルー */
    color: #ffffff;
    padding: 0.9rem 2.8rem; /* 少し大きく */
    border-radius: 6px; /* 角を少し丸く */
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 6px 15px rgba(24, 130, 237, 0.4); /* 青い影を強めに強調 */
    transition: background-color 0.3s, transform 0.2s;
}

.ctaButton:hover {
    background-color: #0066cc; /* 少し暗い青 */
    transform: translateY(-2px);
}